.bg__pic {
	height: 23vh;
	width: 65vw;
	background-image: url('/src/images/main-bg.jpg');
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.fab__btn__container {
	position: absolute;
	bottom: 2vh;
	right: 1vw;
	z-index: 5;
}

.post-dialog {
	height: 90%;
	width: 65vw;
}
.post-dialog .close-btn-container {
	width: 100%;
}
.post-dialog .textfield-container {
	display: block;
	margin: 1rem auto;
}
.post-dialog .textfield-container.mdl-textfield {
	width: 75%;
}
.post-dialog .submit-btn-container {
	margin: 3rem 4rem;
}

.demo-card-wide.mdl-card {
	width: 512px;
	margin: 10px auto 15px;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.demo-card-wide > .mdl-card__title h2.mdl-card__title-text {
	font-weight: 400;
}
.demo-card-wide > .mdl-card__supporting-text {
	font-size: 16px;
}
@media screen and (max-width: 600px) {
	.bg__pic {
		height: 25vh;
		width: 100%;
	}
	.fab__btn__container {
		right: 2vw;
	}
	.mdl-layout__content .page-content h4.display-1 {
		font-size: 18px;
		margin: 5px 0 10px;
	}
	.post-dialog .textfield-container.mdl-textfield {
		width: 100%;
	}
	.post-dialog {
		height: 100%;
		width: 100%;
	}
	.post-dialog .submit-btn-container {
		margin: 2rem 3rem;
	}
	.demo-card-wide.mdl-card {
		width: 90%;
		margin: 5px auto 13px;
	}
}
